footer.Footer
    .container
        .footer-top
            a.footer-logo(href='index.html')
                img(src='img/site-logo.png', alt='')
            ul.footer-menu
                li.footer-menu-item
                    a.footer-item(href="fotogaleri.html", title="") 
                        svg.icon.icon-foto
                            use(xlink:href='#icon-foto')
                        | Foto Galeri
                li.footer-menu-item
                    a.footer-item(href="fotogaleri.html", title="") 
                        svg.icon.icon-video
                            use(xlink:href='#icon-video')
                        | Video Galeri
                li.footer-menu-item
                    a.footer-item(href="kategoridetay.html", title="") Dünya
                li.footer-menu-item
                    a.footer-item(href="kategoridetay.html", title="") Ekonomi
                li.footer-menu-item
                    a.footer-item(href="kategoridetay.html", title="") Sanat
                li.footer-menu-item
                    a.footer-item(href="kategoridetay.html", title="") Mutfak
                li.footer-menu-item
                    a.footer-item(href="kategoridetay.html", title="") Siyaset
                li.footer-menu-item
                    a.footer-item(href="kategoridetay.html", title="") Eğitim
        .footer-bottom
            .footer-ust
                .copyright &copy; Copyright 2019 - Haberbk - Tüm hakları saklıdır.
                ul.footer-alt-menu
                    li.footer-alt-menu-item
                        a.footer-alt-item(href="") İletişim
                    li.footer-alt-menu-item
                        a.footer-alt-item(href="") Künye
                    li.footer-alt-menu-item
                        a.footer-alt-item(href="") Reklam Politikası
                    li.footer-alt-menu-item
                        a.footer-alt-item(href="") Gizlilik Sözleşmesi
            .footer-alt
                .soltaraf
                    .tasarim Tasarım: 
                        a(href="") Ali Yıldırım
                    .tasarim Kodlama: 
                        a(href="") Burak Kamberoğlu
                ul.sosyalaglar
                    li.sosyalag-item
                        a.sosyalag(href="") 
                            svg.icon.icon-facebook
                                use(xlink:href='#icon-facebook')
                    li.sosyalag-item
                        a.sosyalag(href="") 
                            svg.icon.icon-twitter
                                use(xlink:href='#icon-twitter')
                    li.sosyalag-item
                        a.sosyalag(href="") 
                            svg.icon.icon-linkedin
                                use(xlink:href='#icon-linkedin')
                    li.sosyalag-item
                        a.sosyalag(href="") 
                            svg.icon.icon-whatsapp
                                use(xlink:href='#icon-whatsapp')
                    li.sosyalag-item
                        a.sosyalag(href="") 
                            svg.icon.icon-youtube
                                use(xlink:href='#icon-youtube')