nav.Navigation
  .container
    a.Navigation-item(href='kategoridetay.html') Dünya
    a.Navigation-item(href='kategoridetay.html') Ekonomi
    a.Navigation-item(href='kategoridetay.html') Sanat
    a.Navigation-item(href='kategoridetay.html') Mutfak
    a.Navigation-item(href='kategoridetay.html') Siyaset
    a.Navigation-item(href='kategoridetay.html') Eğitim
    a.Navigation-item(href='kategoridetay.html') Spor
    a.Navigation-item(href='kategoridetay.html') Magazin
    a.Navigation-item(href='kategoridetay.html') Yazarlar
    a.Navigation-item(href='kategoridetay.html') Gündem
    a.Navigation-item(href='kategoridetay.html') Sağlık
    a.Navigation-item(href='kategoridetay.html') Seyahat
    a.Navigation-item(href='kategoridetay.html') Sinema
    .menuicon
      svg.icon.icon-menu
        use(xlink:href='#icon-menu')
      .Navigation-MegaMenu
        .container
          .kategoriler
            .kategori
              a.kategorilink(href='kategoridetay.html') 
                svg.icon.icon-kat
                  use(xlink:href='#icon-kat') 
                | Kategori Adı
            .kategori
              a.kategorilink(href='kategoridetay.html') 
                svg.icon.icon-kat
                  use(xlink:href='#icon-kat') 
                | Kategori Adı
            .kategori
              a.kategorilink(href='kategoridetay.html') 
                svg.icon.icon-kat
                  use(xlink:href='#icon-kat') 
                | Kategori Adı
            .kategori
              a.kategorilink(href='kategoridetay.html') 
                svg.icon.icon-kat
                  use(xlink:href='#icon-kat') 
                | Kategori Adı
            .kategori
              a.kategorilink(href='kategoridetay.html') 
                svg.icon.icon-kat
                  use(xlink:href='#icon-kat') 
                | Kategori Adı
            .kategori
              a.kategorilink(href='kategoridetay.html') 
                svg.icon.icon-kat
                  use(xlink:href='#icon-kat') 
                | Kategori Adı
            .kategori
              a.kategorilink(href='kategoridetay.html') 
                svg.icon.icon-kat
                  use(xlink:href='#icon-kat') 
                | Kategori Adı
            .kategori
              a.kategorilink(href='kategoridetay.html') 
                svg.icon.icon-kat
                  use(xlink:href='#icon-kat') 
                | Kategori Adı
            .kategori
              a.kategorilink(href='kategoridetay.html') 
                svg.icon.icon-kat
                  use(xlink:href='#icon-kat') 
                | Kategori Adı
            .kategori
              a.kategorilink(href='kategoridetay.html') 
                svg.icon.icon-kat
                  use(xlink:href='#icon-kat') 
                | Kategori Adı
            .kategori
              a.kategorilink(href='kategoridetay.html') 
                svg.icon.icon-kat
                  use(xlink:href='#icon-kat') 
                | Kategori Adı
            .kategori
              a.kategorilink(href='kategoridetay.html') 
                svg.icon.icon-kat
                  use(xlink:href='#icon-kat') 
                | Kategori Adı
          .konular
            .konu
              a.konuresimlink(href='haberdetay.html')
                img(src='https://fakeimg.pl/80x50/')
              a.konubaslik(href='haberdetay.html') Tarihin Aynası Heykeller Bu Müzede Sergileniyor
            .konu
              a.konuresimlink(href='haberdetay.html')
                img(src='https://fakeimg.pl/80x50/')
              a.konubaslik(href='haberdetay.html') Vladimir Putin G20 Zirvesinde Liderlerle Görüştü
            .konu
              a.konuresimlink(href='haberdetay.html')
                img(src='https://fakeimg.pl/80x50/')
              a.konubaslik(href='haberdetay.html') Vladimir Putin G20 Zirvesinde Liderlerle Görüştü
    .ok
.Sondakika
  .container
    .sondakikahaber
      .sontitle
        span SON DAKİKA
      .slidesonhaber
        .sonhaber
          a(href='haberdetay.html') 
            span.time
              svg.icon.icon-sondakika
                use(xlink:href='#icon-sondakika')
              | 21:10 
            span.title Vladimir Putin G20 Zirvesinde Liderlerle Görüştü
        .sonhaber(style="width:100%")
          a(href='haberdetay.html') 
            span.time
              svg.icon.icon-sondakika
                use(xlink:href='#icon-sondakika')
              | 21:10 
            span.title BB