.sidebar
    .widget
        img(src="img/300x250.jpg")
    .widget
        .baslik
            svg.icon.icon-konubaslik
                use(xlink:href='#icon-konubaslik')
            h5 En Çok Okunanlar
        .widgetliste
            .widgetyazi
                a.thumblink(href="haberdetay.html")
                    img.widgetthumb(src="img/s1.jpg")
                a.yazilink(href="haberdetay.html") Tarihin Aynası Heykeller Bu Müzede Sergileniyor
            .widgetyazi
                a.thumblink(href="haberdetay.html")
                    img.widgetthumb(src="img/s2.jpg")
                a.yazilink(href="haberdetay.html") Avrupa Müzik Festivali 4. Gününe Girdi
            .widgetyazi
                a.thumblink(href="haberdetay.html")
                    img.widgetthumb(src="img/s3.jpg")
                a.yazilink(href="haberdetay.html") Avrupa Müzik Festivalinde Ses Yarışması Düzenlendi
            .widgetyazi
                a.thumblink(href="haberdetay.html")
                    img.widgetthumb(src="img/s4.jpg")
                a.yazilink(href="haberdetay.html") Kent Kurslarında En Çok Resim Tercih Ediliyor
            .widgetyazi
                a.thumblink(href="haberdetay.html")
                    img.widgetthumb(src="img/s5.jpg")
                a.yazilink(href="haberdetay.html") Eski Piyanolar Paris Müzesinde Sergileniyor