extends global/master

block content
  article.post-33
    include haberdetay/breadcrumb
    include sayfalar/fotodetay
  article.post-33
    include haberdetay/breadcrumb
    include sayfalar/fotodetay
  article.post-33
    include haberdetay/breadcrumb
    include sayfalar/fotodetay