extends global/master

block content
  article.post-33
    include haberdetay/breadcrumb
    include haberdetay/baslik
  article.post-33
    include haberdetay/breadcrumb
    include haberdetay/baslik