extends global/master

block content
  article.post-33
    include haberdetay/breadcrumb
    include sayfalar/videodetay
  article.post-33
    include haberdetay/breadcrumb
    include sayfalar/videodetay
  article.post-33
    include haberdetay/breadcrumb
    include sayfalar/videodetay