.breadcrumb
    .container
        .breadcrumblist
            a.bread(href='index.html') Anasayfa
            svg.icon.icon-right
                use(xlink:href='#icon-right')
            a.bread(href='kategoridetay.html') Gündem
            svg.icon.icon-right
                use(xlink:href='#icon-right')
            a.bread(href='haberdetay.html') Dünya Şefleri Londra'da Bir araya Geldi