section.AnasayfaYazilar
    .container
        .genistaraf
            .baslik
                svg.icon.icon-konubaslik
                    use(xlink:href='#icon-konubaslik')
                h5 Dünya
            .yazilistesi
                .yazi
                    a.yazithumbnail(href="haberdetay.html" title="")
                        img(src="img/d1.jpg")
                    a.yazibaslik(href="haberdetay.html" title="") Vladimir Putin G20 Zirvesinde Liderlerle Görüştü
                .yazi
                    a.yazithumbnail(href="haberdetay.html" title="")
                        img(src="img/d2.jpg")
                    a.yazibaslik(href="haberdetay.html" title="") Donald Trump Yeni Dönem Başkanlık Seçimlerine
                .yazi
                    a.yazithumbnail(href="haberdetay.html" title="")
                        img(src="img/d3.jpg")
                    a.yazibaslik(href="haberdetay.html" title="") Recep Tayyip Erdoğan: S-400'ler Türkiye'ye Getirildi
                .yazi
                    a.yazithumbnail(href="haberdetay.html" title="")
                        img(src="img/d4.jpg")
                    a.yazibaslik(href="haberdetay.html" title="") Theresa May İstifasının Ardından Yine Dans Etti
                .yazi
                    a.yazithumbnail(href="haberdetay.html" title="")
                        img(src="img/d5.jpg")
                    a.yazibaslik(href="haberdetay.html" title="") Angela Merkel Titreme Nöbetleriyle Gündeme Geldi
                .yazi
                    a.yazithumbnail(href="haberdetay.html" title="")
                        img(src="img/d6.jpg")
                    a.yazibaslik(href="haberdetay.html" title="") Mark Rutte Hollanda'da Seçim Hazırlıklarına Başladı
            .baslik
                svg.icon.icon-konubaslik
                    use(xlink:href='#icon-konubaslik')
                h5 Fotoğraf Galerisi
            .galerilistesi
                .yazi
                    a.yazithumbnail(href="fotodetay.html" title="")
                        .svgikon
                            svg.icon.icon-foto
                                use(xlink:href='#icon-foto')
                        img(src="img/m1.jpg")
                    a.yazibaslik(href="fotodetay.html" title="") Dünya Şefleri Londra'da Bir Araya Geldi
                .yazi
                    a.yazithumbnail(href="fotodetay.html" title="")
                        .svgikon 
                            svg.icon.icon-foto
                                use(xlink:href='#icon-foto')
                        img(src="img/m2.jpg")
                    a.yazibaslik(href="fotodetay.html" title="") İtalyan Makarnası Dünya Çapında Şöhretini Koruyor
                .yazi
                    a.yazithumbnail(href="fotodetay.html" title="")
                        .svgikon 
                            svg.icon.icon-foto
                                use(xlink:href='#icon-foto')
                        img(src="img/m3.jpg")
                    a.yazibaslik(href="fotodetay.html" title="") Roka Yaprakları İle Hazırlanan Salata Zayıflatıyor
                .yazi
                    a.yazithumbnail(href="fotodetay.html" title="")
                        .svgikon 
                            svg.icon.icon-foto
                                use(xlink:href='#icon-foto')
                        img(src="img/m4.jpg")
                    a.yazibaslik(href="fotodetay.html" title="") Pizza Dilimi Görünümlü Suşilere Yoğun Talep
            .baslik
                svg.icon.icon-konubaslik
                    use(xlink:href='#icon-konubaslik')
                h5 Mutfak
            .yazilistesi
                .yazi
                    a.yazithumbnail(href="haberdetay.html" title="")
                        img(src="img/m1.jpg")
                    a.yazibaslik(href="haberdetay.html" title="") Dünya Şefleri Londra'da Bir Araya Geldi
                .yazi
                    a.yazithumbnail(href="haberdetay.html" title="")
                        img(src="img/m2.jpg")
                    a.yazibaslik(href="haberdetay.html" title="") İtalyan Makarnası Dünya Çapında Şöhretini Koruyor
                .yazi
                    a.yazithumbnail(href="haberdetay.html" title="")
                        img(src="img/m3.jpg")
                    a.yazibaslik(href="haberdetay.html" title="") Roka Yaprakları İle Hazırlanan Salata Zayıflatıyor
                .yazi
                    a.yazithumbnail(href="haberdetay.html" title="")
                        img(src="img/m4.jpg")
                    a.yazibaslik(href="haberdetay.html" title="") Pizza Dilimi Görünümlü Suşilere Yoğun Talep
                .yazi
                    a.yazithumbnail(href="haberdetay.html" title="")
                        img(src="img/m5.jpg")
                    a.yazibaslik(href="haberdetay.html" title="") Yaz Aylarında Kahvaltı Nasıl Olmalıdır?
                .yazi
                    a.yazithumbnail(href="haberdetay.html" title="")
                        img(src="img/m6.jpg")
                    a.yazibaslik(href="haberdetay.html" title="") Ekmekler Göründükleri Kadar Masum Değiller
            .baslik
                svg.icon.icon-konubaslik
                    use(xlink:href='#icon-konubaslik')
                h5 Video Galerisi
            .galerilistesi
                .yazi
                    a.yazithumbnail(href="videodetay.html" title="")
                        .svgikon
                            svg.icon.icon-video
                                use(xlink:href='#icon-video')
                        .videosuresi 21:24
                        img(src="img/s1.jpg")
                    a.yazibaslik(href="videodetay.html" title="") Tarihin Aynası Heykeller Bu Müzede Sergileniyor
                .yazi
                    a.yazithumbnail(href="videodetay.html" title="")
                        .svgikon 
                            svg.icon.icon-video
                                use(xlink:href='#icon-video')
                        .videosuresi 21:24
                        img(src="img/s2.jpg")
                    a.yazibaslik(href="videodetay.html" title="") Avrupa Müzik Festivali 4. Gününe Girdi
                .yazi
                    a.yazithumbnail(href="videodetay.html" title="")
                        .svgikon 
                            svg.icon.icon-video
                                use(xlink:href='#icon-video')
                        .videosuresi 21:24
                        img(src="img/s3.jpg")
                    a.yazibaslik(href="videodetay.html" title="") Avrupa Müzik Festivalinde Ses Yarışmasını Düzenledi
                .yazi
                    a.yazithumbnail(href="videodetay.html" title="")
                        .svgikon 
                            svg.icon.icon-video
                                use(xlink:href='#icon-video')
                        .videosuresi 21:24
                        img(src="img/s4.jpg")
                    a.yazibaslik(href="videodetay.html" title="") Kent Kurslarında En Çok Resim Tercih Ediliyor
        include ../global/sidebar
                    
    .container
        .tamgenislik
            .baslik
                svg.icon.icon-konubaslik
                    use(xlink:href='#icon-konubaslik')
                h5 Popüler Haberler
            .yazilistesi
                a.yazi(href="haberdetay.html" title="") Tarihin Aynası Heykeller Bu Müzede Sergileniyor
                a.yazi(href="haberdetay.html" title="") Vladimir Putin G20 Zirvesinde Liderlerle Görüştü
                a.yazi(href="haberdetay.html" title="") Recep Tayyip Erdoğan: S-400'ler Türkiye'ye Getirildi
                a.yazi(href="haberdetay.html" title="") Donald Trump Yeni Dönem Başkanlık Seçimlerine
                a.yazi(href="haberdetay.html" title="") Theresa May İstifasının Ardından Yine Dans Etti
                a.yazi(href="haberdetay.html" title="") Dünya Şefleri Londra'da Bir Araya Geldi
                a.yazi(href="haberdetay.html" title="") İtalyan Makarnası Dünya Çağında Şöhretini Koruyor
                a.yazi(href="haberdetay.html" title="") Angela Merkel Titreme Nöbetleriyle Gündeme Geldi
                a.yazi(href="haberdetay.html" title="") Mark Rutte Hollanda'da Seçim Hazırlıklarına Başladı
                a.yazi(href="haberdetay.html" title="") Pizza Dilimi Görünümlü Suşilere Yoğun Talep
                a.yazi(href="haberdetay.html" title="") Roka Yaprakları İle Hazırlanan Salata Zayıflatıyor
                a.yazi(href="haberdetay.html" title="") Ekmekler Göründükleri Kadar Masum Değiller