section.Highlights
  .container
    .Highlights-slider
      .Highlights-item
        .Highlights-item-show(style="background-image: url('img/s1.jpg');")
          .content
            a.tag-item(href="kategoridetay.html") Sanat
            a.title(href="haberdetay.html") Tarihin Aynası Heykeller Bu Müzede Sergileniyor
      .Highlights-item
        .Highlights-item-show(style="background-image: url('img/s2.jpg');")
          .content
            a.tag-item(href="kategoridetay.html") Sanat
            a.title(href="haberdetay.html") Avrupa Müzik Festivali 4. Gününe Girdi
      .Highlights-item
        .Highlights-item-show(style="background-image: url('img/s3.jpg');")
          .content
            a.tag-item(href="kategoridetay.html") Sanat
            a.title(href="haberdetay.html") Avrupa Müzik Festivalinde Ses Yarışması Düzenlendi
      .Highlights-item
        .Highlights-item-show(style="background-image: url('img/s4.jpg');")
          .content
            a.tag-item(href="kategoridetay.html") Sanat
            a.title(href="haberdetay.html") Kent Kurslarında En Çok Resim Tercih Ediliyor
      .Highlights-item
        .Highlights-item-show(style="background-image: url('img/s5.jpg');")
          .content
            a.tag-item(href="kategoridetay.html") Sanat
            a.title(href="haberdetay.html") Eski Piyanolar Paris Müzesinde Sergileniyor
      .Highlights-item
        .Highlights-item-show(style="background-image: url('img/s6.jpg');")
          .content
            a.tag-item(href="kategoridetay.html") Sanat
            a.title(href="haberdetay.html") Fırçanın Boya İle Buluştuğu Paletler Sergisi Açıldı
      .Highlights-item
        .Highlights-item-show(style="background-image: url('img/s7.jpg');")
          .content
            a.tag-item(href="kategoridetay.html") Sanat
            a.title(href="haberdetay.html") Sokak Sanatçıları Fikirlerini Kentin Duvarlarına İşledi
      .Highlights-item
        .Highlights-item-show(style="background-image: url('img/s8.jpg');")
          .content
            a.tag-item(href="kategoridetay.html") Sanat
            a.title(href="haberdetay.html") Enstrüman Eğitimi Alan Bireylerin Daha Sosyal Oldukları Belirlendi
    .Highlights-ikilimanset
      a.manset(href="haberdetay.html")
        img(src="img/d1.jpg", alt="")
        span Vladimir Putin G20 Zirvesinde Liderlerle Görüştü
      a.manset(href="haberdetay.html")
        img(src="img/d2.jpg", alt="")
        span Donald Trump Yeni Dönem Başkanlık Seçimlerine