section.Showcase
  .container
    .dortlumansetliste
      a.manset(href="haberdetay.html")
        img(src="img/d1.jpg", alt="")
        span Vladimir Putin G20 Zirvesinde Liderlerle Görüştü
      a.manset(href="haberdetay.html")
        img(src="img/d2.jpg", alt="")
        span Donald Trump Yeni Dönem Başkanlık Seçimlerine
      a.manset(href="haberdetay.html")
        img(src="img/d3.jpg", alt="")
        span Recep Tayyip Erdoğan: S-400'ler Türkiye'ye Getirildi
      a.manset(href="haberdetay.html")
        img(src="img/d4.jpg", alt="")
        span Theresa May İstifasının Ardından Yine Dans Etti