section.Yazarlar
    .container
        .baslik
            .soltaraf
                svg.icon.icon-konubaslik
                    use(xlink:href='#icon-konubaslik')
                h5 Yazarlar
        .yazardongu
            .yazarliste
                .yazar
                    a(href="koseyazisi.html")
                        img(src="img/y1.jpg")
                    .yazarbilgi
                        a.yazi(href="haberdetay.html") Dünya Şefleri Londra'da Bir Araya Geldi
                        a.yazarlink(href="koseyazisi.html") Sena Kalemoğlu
                .yazar
                    a(href="koseyazisi.html")
                        img(src="img/y2.jpg")
                    .yazarbilgi
                        a.yazi(href="haberdetay.html") İtalyan Makarnası Dünya Çağında Şöhretini Koruyor
                        a.yazarlink(href="koseyazisi.html") Merve Bulut
                .yazar
                    a(href="koseyazisi.html")
                        img(src="img/y3.jpg")
                    .yazarbilgi
                        a.yazi(href="haberdetay.html") Roka Yaprakları İle Hazırlanan Salata Zayıflatıyor
                        a.yazarlink(href="koseyazisi.html") Murat Yıldız
            .yazarliste
                .yazar
                    a(href="koseyazisi.html")
                        img(src="img/y1.jpg")
                    .yazarbilgi
                        a.yazi(href="haberdetay.html") Dünya Şefleri Londra'da Bir Araya Geldi
                        a.yazarlink(href="koseyazisi.html") Sena Kalemoğlu
                .yazar
                    a(href="koseyazisi.html")
                        img(src="img/y2.jpg")
                    .yazarbilgi
                        a.yazi(href="haberdetay.html") İtalyan Makarnası Dünya Çağında Şöhretini Koruyor
                        a.yazarlink(href="koseyazisi.html") Merve Bulut
                .yazar
                    a(href="koseyazisi.html")
                        img(src="img/y3.jpg")
                    .yazarbilgi
                        a.yazi(href="haberdetay.html") Roka Yaprakları İle Hazırlanan Salata Zayıflatıyor
                        a.yazarlink(href="koseyazisi.html") Murat Yıldız