.aramasonucu
    .container
        .baslik
            svg.icon.icon-konubaslik
                use(xlink:href='#icon-konubaslik')
            h5 Arama Sonucu
        .konular
            .konu
                a(href='haberdetay.html')
                    img(src='img/s1.jpg')
                    span.konu-baslik Avrupa Müzik Festivali 4. Gününe Girdi
            .konu
                a(href='haberdetay.html')
                    img(src='img/d1.jpg')
                    span.konu-baslik Vladimir Putin G20 Zirvesinde Liderlerle Görüştü
            .konu
                a(href='haberdetay.html')
                    img(src='img/d2.jpg')
                    span.konu-baslik Donald Trump Yeni Dönem Başkanlık Seçimlerine
            .konu
                a(href='haberdetay.html')
                    img(src='img/d3.jpg')
                    span.konu-baslik Recep Tayyip Erdoğan: S-400'ler Türkiye'ye Getirildi
            .konu
                a(href='haberdetay.html')
                    img(src='img/d4.jpg')
                    span.konu-baslik Theresa May İstifasının Ardından Yine Dans Etti