.benzer
    .baslik
        svg.icon.icon-konubaslik
            use(xlink:href='#icon-konubaslik')
        h5 Benzer Haberler
    .konular
        a.konu(href='haberdetay.html')
            img.konu-thumbnail(src="img/e5.jpg")
            h5.konu-baslik Gerçek Savaştan Sonra Sırada Kur Savaşları Başlıyor
        a.konu(href='haberdetay.html')
            img.konu-thumbnail(src="img/e6.jpg")
            h5.konu-baslik Bitcoin 10.000 Doların Altına Gerilemeye Başladı
        a.konu(href='haberdetay.html')
            img.konu-thumbnail(src="img/e7.jpg")
            h5.konu-baslik Borsa Günün İlk Yarısına %1,35 Artarak Başladı
        a.konu(href='haberdetay.html')
            img.konu-thumbnail(src="img/e8.jpg")
            h5.konu-baslik Euro Bölgelerinde İnşaat Üretimi Düştü