.fotodetay
    .container
        h3.fotodetaybaslik Dünya Şefleri Londra'da Bir araya Geldi
        figure.figure
            img(src='img/m1.jpg')
            figcaption Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis officia similique fugit! Quis doloremque nam maxime beatae vero reiciendis quaerat vel in, aliquam aut numquam tempora sit ea iure qui.
        figure.figure
            img(src='img/m2.jpg')
            figcaption Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis officia similique fugit! Quis doloremque nam maxime beatae vero reiciendis quaerat vel in, aliquam aut numquam tempora sit ea iure qui.
        .post-tags
            span Etiketler:
            a(href='') DOLAR
            a(href='') EURO
            a(href='') EKONOMİ