.fotogaleri
    .container
        .fullwidth
            .ust6li
                .baslikana
                    h4 Foto Galeri
                .konular
                    a.konu(href='fotodetay.html')
                        .thumbnail
                            img.konu-thumbnail(src='img/d1.jpg')
                            span.ikon
                                svg.icon.icon-foto
                                    use(xlink:href='#icon-foto')
                            .videosuresi 21:38
                        h5.konu-baslik Vladimir Putin G20 Zirvesinde Liderlerle Buluştu
                    a.konu(href='fotodetay.html')
                        .thumbnail
                            img.konu-thumbnail(src='img/d2.jpg')
                            span.ikon
                                svg.icon.icon-foto
                                    use(xlink:href='#icon-foto')
                            .videosuresi 21:38
                        h5.konu-baslik Donald Trump Yeni Dönem Başkanlık Seçimlerine Hazırlanıyor
                    a.konu(href='fotodetay.html')
                        .thumbnail
                            img.konu-thumbnail(src='img/d3.jpg')
                            span.ikon
                                svg.icon.icon-foto
                                    use(xlink:href='#icon-foto')
                            .videosuresi 21:38
                        h5.konu-baslik Recep Tayyip Erdoğan: S-400'ler Türkiye'ye Getirildi
                    a.konu(href='fotodetay.html')
                        .thumbnail
                            img.konu-thumbnail(src='img/d4.jpg')
                            span.ikon
                                svg.icon.icon-foto
                                    use(xlink:href='#icon-foto')
                            .videosuresi 21:38
                        h5.konu-baslik Theresa May İstifasının Ardından Yine Dans Etti
                    a.konu(href='fotodetay.html')
                        .thumbnail
                            img.konu-thumbnail(src='img/d5.jpg')
                            span.ikon
                                svg.icon.icon-foto
                                    use(xlink:href='#icon-foto')
                            .videosuresi 21:38
                        h5.konu-baslik Angela Merkel Titreme Nöbetleriyle Gündeme Geldi
                    a.konu(href='fotodetay.html')
                        .thumbnail
                            img.konu-thumbnail(src='img/d6.jpg')
                            span.ikon
                                svg.icon.icon-foto
                                    use(xlink:href='#icon-foto')
                            .videosuresi 21:38
                        h5.konu-baslik Mark Rutte Hollanda'da Seçim Hazırlıklarına Başladı
            .sidebarwith
                .kategori-genistaraf
                    .baslik
                        svg.icon.icon-konubaslik
                            use(xlink:href='#icon-konubaslik')
                        h5 Son Eklenenler
                    .konular
                            a.konu(href='fotodetay.html')
                                .thumbnail
                                    img.konu-thumbnail(src='img/d1.jpg')
                                    span.ikon
                                        svg.icon.icon-foto
                                            use(xlink:href='#icon-foto')
                                    .videosuresi 21:38
                                span.konu-title Vladimir Putin G20 Zirvesinde Liderlerle Buluştu
                            a.konu(href='fotodetay.html')
                                .thumbnail
                                    img.konu-thumbnail(src='img/d2.jpg')
                                    span.ikon
                                        svg.icon.icon-foto
                                            use(xlink:href='#icon-foto')
                                    .videosuresi 21:38
                                span.konu-title Donald Trump Yeni Dönem Başkanlık Seçimlerine Hazırlanıyor
                            a.konu(href='fotodetay.html')
                                .thumbnail
                                    img.konu-thumbnail(src='img/d3.jpg')
                                    span.ikon
                                        svg.icon.icon-foto
                                            use(xlink:href='#icon-foto')
                                    .videosuresi 21:38
                                span.konu-title Recep Tayyip Erdoğan: S-400'ler Türkiye'ye Getirildi
                            a.konu(href='fotodetay.html')
                                .thumbnail
                                    img.konu-thumbnail(src='img/d4.jpg')
                                    span.ikon
                                        svg.icon.icon-foto
                                            use(xlink:href='#icon-foto')
                                    .videosuresi 21:38
                                span.konu-title Theresa May İstifasının Ardından Yine Dans Etti
                            a.konu(href='fotodetay.html')
                                .thumbnail
                                    img.konu-thumbnail(src='img/d5.jpg')
                                    span.ikon
                                        svg.icon.icon-foto
                                            use(xlink:href='#icon-foto')
                                    .videosuresi 21:38
                                span.konu-title Angela Merkel Titreme Nöbetleriyle Gündeme Geldi
                            a.konu(href='fotodetay.html')
                                .thumbnail
                                    img.konu-thumbnail(src='img/d6.jpg')
                                    span.ikon
                                        svg.icon.icon-foto
                                            use(xlink:href='#icon-foto')
                                    .videosuresi 21:38
                                span.konu-title Mark Rutte Hollanda'da Seçim Hazırlıklarına Başladı
                            a.konu(href='fotodetay.html')
                                .thumbnail
                                    img.konu-thumbnail(src='img/d7.jpg')
                                    span.ikon
                                        svg.icon.icon-foto
                                            use(xlink:href='#icon-foto')
                                    .videosuresi 21:38
                                span.konu-title Kuzey Kore Lideri ve ABD Başkanı İlk Defa Buluştu
                            a.konu(href='fotodetay.html')
                                .thumbnail
                                    img.konu-thumbnail(src='img/d8.jpg')
                                    span.ikon
                                        svg.icon.icon-foto
                                            use(xlink:href='#icon-foto')
                                    .videosuresi 21:38
                                span.konu-title Macron: AB Daha Hızlı ve Etkin Kararlar Almalı
                            a.konu(href='fotodetay.html')
                                .thumbnail
                                    img.konu-thumbnail(src='img/d1.jpg')
                                    span.ikon
                                        svg.icon.icon-foto
                                            use(xlink:href='#icon-foto')
                                    .videosuresi 21:38
                                span.konu-title Vladimir Putin G20 Zirvesinde Liderlerle Buluştu
                            a.konu(href='fotodetay.html')
                                .thumbnail
                                    img.konu-thumbnail(src='img/d2.jpg')
                                    span.ikon
                                        svg.icon.icon-foto
                                            use(xlink:href='#icon-foto')
                                    .videosuresi 21:38
                                span.konu-title Donald Trump Yeni Dönem Başkanlık Seçimlerine Hazırlanıyor
                            a.konu(href='fotodetay.html')
                                .thumbnail
                                    img.konu-thumbnail(src='img/d3.jpg')
                                    span.ikon
                                        svg.icon.icon-foto
                                            use(xlink:href='#icon-foto')
                                    .videosuresi 21:38
                                span.konu-title Recep Tayyip Erdoğan: S-400'ler Türkiye'ye Getirildi
                            a.konu(href='fotodetay.html')
                                .thumbnail
                                    img.konu-thumbnail(src='img/d4.jpg')
                                    span.ikon
                                        svg.icon.icon-foto
                                            use(xlink:href='#icon-foto')
                                    .videosuresi 21:38
                                span.konu-title Theresa May İstifasının Ardından Yine Dans Etti
                    .pagination
                            a.pagination-item(href='') 1
                            a.pagination-item(href='') 2
                            a.pagination-item.active(href='') 3
                            a.pagination-item(href='') 4
                            a.pagination-item(href='') 5
                include ../global/sidebar