.kategori
    .container
        .fullwidth
            .kategori-genistaraf
                .baslik
                    h3 Dünya
                .konular
                    a.konu(href='haberdetay.html')
                        img.konu-thumbnail(src='img/d1.jpg')
                        span.konu-title Vladimir Putin G20 Zirvesinde Liderlerle Görüştü
                    a.konu(href='haberdetay.html')
                        img.konu-thumbnail(src='img/d2.jpg')
                        span.konu-title Donald Trump Yeni Dönem Başkanlık Seçimlerine Hazırlanıyor
                    a.konu(href='haberdetay.html')
                        img.konu-thumbnail(src='img/d3.jpg')
                        span.konu-title Recep Tayyip Erdoğan: S-400'ler Türkiye'ye Getirildi
                    a.konu(href='haberdetay.html')
                        img.konu-thumbnail(src='img/d4.jpg')
                        span.konu-title Theresa May İstifasının Ardından Yine Dans Etti
                
                .konular.uclu
                    .baslik
                        svg.icon.icon-konubaslik
                            use(xlink:href='#icon-konubaslik')
                        h5 Son Eklenenler
                    .konular3lu
                        a.konu(href='haberdetay.html')
                            img.konu-thumbnail(src='img/d1.jpg')
                            span.konu-title Vladimir Putin G20 Zirvesinde Liderlerle Görüştü
                        a.konu(href='haberdetay.html')
                            img.konu-thumbnail(src='img/d2.jpg')
                            span.konu-title Vladimir Putin G20 Zirvesinde Liderlerle Görüştü
                        a.konu(href='haberdetay.html')
                            img.konu-thumbnail(src='img/d3.jpg')
                            span.konu-title Vladimir Putin G20 Zirvesinde Liderlerle Görüştü
                        a.konu(href='haberdetay.html')
                            img.konu-thumbnail(src='img/d4.jpg')
                            span.konu-title Vladimir Putin G20 Zirvesinde Liderlerle Görüştü
                        a.konu(href='haberdetay.html')
                            img.konu-thumbnail(src='img/d5.jpg')
                            span.konu-title Vladimir Putin G20 Zirvesinde Liderlerle Görüştü
                        a.konu(href='haberdetay.html')
                            img.konu-thumbnail(src='img/d6.jpg')
                            span.konu-title Vladimir Putin G20 Zirvesinde Liderlerle Görüştü
                        a.konu(href='haberdetay.html')
                            img.konu-thumbnail(src='img/d7.jpg')
                            span.konu-title Vladimir Putin G20 Zirvesinde Liderlerle Görüştü
                        a.konu(href='haberdetay.html')
                            img.konu-thumbnail(src='img/d8.jpg')
                            span.konu-title Vladimir Putin G20 Zirvesinde Liderlerle Görüştü
                        a.konu(href='haberdetay.html')
                            img.konu-thumbnail(src='img/d1.jpg')
                            span.konu-title Vladimir Putin G20 Zirvesinde Liderlerle Görüştü
                        a.konu(href='haberdetay.html')
                            img.konu-thumbnail(src='img/d2.jpg')
                            span.konu-title Vladimir Putin G20 Zirvesinde Liderlerle Görüştü
                        a.konu(href='haberdetay.html')
                            img.konu-thumbnail(src='img/d3.jpg')
                            span.konu-title Vladimir Putin G20 Zirvesinde Liderlerle Görüştü
                        a.konu(href='haberdetay.html')
                            img.konu-thumbnail(src='img/d4.jpg')
                            span.konu-title Vladimir Putin G20 Zirvesinde Liderlerle Görüştü
                .pagination
                        a.pagination-item(href='') 1
                        a.pagination-item(href='') 2
                        a.pagination-item.active(href='') 3
                        a.pagination-item(href='') 4
                        a.pagination-item(href='') 5
            include ../global/sidebar