.post-content
    .container
        .post-title
                h1.post-title_h1 Tarihin Aynası Heykeller Bu Müzede Sergileniyor
                p.post-title_excerpt Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis veniam, voluptatibus quis odit velit iusto obcaecati necessitatibus recusandae assumenda sequi id asperiores maiores sunt repellat accusamus iure delectus ullam perferendis!
        .post-width
            .post-left-side
                .post-meta
                    .post-thumbnail
                        iframe(width='100%' height='100%' src='https://www.youtube-nocookie.com/embed/xwOto0m-sXg' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                        .overlay
                            .ikon
                                svg.icon.icon-play
                                    use(xlink:href='#icon-play')
                    .post-meta_info
                        .post-date-writer 
                            .post-meta_date Eklenme: 
                                span 24 Temmuz 2019 21:27 
                            .post-meta_date Son Güncelleme: 
                                span 25 Temmuz 2019 21:27
                            .post-meta-writer Yazar: 
                                a(href='koseyazisi.html') Burak Kamberoğlu
                        .post-meta_social Haberi Paylaş:
                            ul.socials
                                li.social
                                    a.social_a(href="") 
                                        svg.icon.icon-facebook
                                            use(xlink:href='#icon-facebook')
                                li.social
                                    a.social_a(href="") 
                                        svg.icon.icon-twitter
                                            use(xlink:href='#icon-twitter')
                                li.social
                                    a.social_a(href="") 
                                        svg.icon.icon-whatsapp
                                            use(xlink:href='#icon-whatsapp')
                            .post-meta_right 
                                .post-print
                                    svg.icon.icon-print(onclick="window.print()")
                                        use(xlink:href='#icon-print')
                                .post-font-size
                                    svg.icon.icon-font-size
                                        use(xlink:href='#icon-font-size')
                                    .font-size-popup
                                        input(type="range", name="font-size-range", min="14", max="24", value="16")
                    .post-content-item
                        p.post-content-item_p
                            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit corrupti natus ipsum sed nihil molestias deleniti harum. Pariatur nisi quam harum sequi, voluptatum veritatis, eaque praesentium ea illo atque consequatur?Atque aut eius sed quod laudantium inventore impedit alias recusandae autem obcaecati sunt omnis, magni dolorem. Quibusdam excepturi quae possimus recusandae repudiandae itaque natus minus, autem, nihil modi dolorem assumenda!Quia eligendi soluta, delectus sit tempore molestiae, iure ex recusandae voluptatem quas labore porro? Officia vel molestiae fuga asperiores, sint repellat dicta doloremque dolore soluta aliquam cumque quaerat inventore libero!
                        p.post-content-item_p 
                            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae aperiam suscipit maxime quae similique vel autem tempore id officiis? Vitae eveniet adipisci nam rerum odio veritatis animi excepturi quo. Est!Aspernatur optio molestias sed nostrum reprehenderit architecto, iusto accusamus numquam dolorem, repellendus laudantium dicta itaque voluptate quis assumenda dolores maxime ut repellat aliquam delectus porro omnis ratione deleniti aut! Numquam!

                        .post-benzer-konular
                            .baslik
                                svg.icon.icon-konubaslik
                                    use(xlink:href='#icon-konubaslik')
                                h5 Konuya İlişkin haber
                            .konular
                                a.konu(href='haberdetay.html')
                                    img.konu-thumbnail(src="img/s3.jpg")
                                    h5.konu-baslik Avrupa Müzik Festivalinde Ses Yarışması Düzenlendi
                                a.konu(href='haberdetay.html')
                                    img.konu-thumbnail(src="img/s4.jpg")
                                    h5.konu-baslik Kent Kurslarında En Çok Resim Tercih Ediliyor
                                a.konu(href='haberdetay.html')
                                    img.konu-thumbnail(src="img/s5.jpg")
                                    h5.konu-baslik Eski Piyanolar Paris Müzesinde Sergileniyor


                        p.post-content-item_p 
                            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae aperiam suscipit maxime quae similique vel autem tempore id officiis? Vitae eveniet adipisci nam rerum odio veritatis animi excepturi quo. Est!Aspernatur optio molestias sed nostrum reprehenderit architecto, iusto accusamus numquam dolorem, repellendus laudantium dicta itaque voluptate quis assumenda dolores maxime ut repellat aliquam delectus porro omnis ratione deleniti aut! Numquam!
                        p.post-content-item_p 
                            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae aperiam suscipit maxime quae similique vel autem tempore id officiis? Vitae eveniet adipisci nam rerum odio veritatis animi excepturi quo. Est!Aspernatur optio molestias sed nostrum reprehenderit architecto, iusto accusamus numquam dolorem, repellendus laudantium dicta itaque voluptate quis assumenda dolores maxime ut repellat aliquam delectus porro omnis ratione deleniti aut! Numquam!
                        p.post-content-item_p 
                            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae aperiam suscipit maxime quae similique vel autem tempore id officiis? Vitae eveniet adipisci nam rerum odio veritatis animi excepturi quo. Est!Aspernatur optio molestias sed nostrum reprehenderit architecto, iusto accusamus numquam dolorem, repellendus laudantium dicta itaque voluptate quis assumenda dolores maxime ut repellat aliquam delectus porro omnis ratione deleniti aut! Numquam!
                        p.post-content-item_p 
                            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae aperiam suscipit maxime quae similique vel autem tempore id officiis? Vitae eveniet adipisci nam rerum odio veritatis animi excepturi quo. Est!Aspernatur optio molestias sed nostrum reprehenderit architecto, iusto accusamus numquam dolorem, repellendus laudantium dicta itaque voluptate quis assumenda dolores maxime ut repellat aliquam delectus porro omnis ratione deleniti aut! Numquam!
                    .post-tags
                        span Etiketler:
                        a(href='') DOLAR
                        a(href='') EURO
                        a(href='') EKONOMİ
                        a(href='') DOLAR
                        a(href='') EURO
                        a(href='') EKONOMİ
                        a(href='') DOLAR
                        a(href='') EURO
                        a(href='') EKONOMİ
                        a(href='') DOLAR
                        a(href='') EURO
                        a(href='') EKONOMİ
                        a(href='') DOLAR
                        a(href='') EURO
                        a(href='') EKONOMİ
                include ../sayfalar/yorum
            include ../global/sidebar