.yazarlar
    .container
        h4.baslik Yazarlar
        .yazarlistesi
            .yazar
                a(href='koseyazisi.html')
                    img.yazarresmi(src='img/y1.jpg')
                .yazarbilgiler
                    a(href='koseyazisi.html')
                        span.yazarismi Sena Kalemoğlu
                    a(href='haberdetay.html')
                        span.yazaryazisi Dünya Şefleri Londra'da Bir araya Geldi
            .yazar
                a(href='koseyazisi.html')
                    img.yazarresmi(src='img/y2.jpg')
                .yazarbilgiler
                    a(href='koseyazisi.html')
                        span.yazarismi Merve Bulut
                    a(href='haberdetay.html')
                        span.yazaryazisi Dünya Şefleri Londra'da Bir Araya Geldi
            .yazar
                a(href='koseyazisi.html')
                    img.yazarresmi(src='img/y3.jpg')
                .yazarbilgiler
                    a(href='koseyazisi.html')
                        span.yazarismi Murat Yıldız
                    a(href='haberdetay.html')
                        span.yazaryazisi Dünya Şefleri Londra'da Bir Araya Geldi
            .yazar
                a(href='koseyazisi.html')
                    img.yazarresmi(src='img/y4.jpg')
                .yazarbilgiler
                    a(href='koseyazisi.html')
                        span.yazarismi Ersin Gök
                    a(href='haberdetay.html')
                        span.yazaryazisi Dünya Şefleri Londra'da Bir Araya Geldi
            .yazar
                a(href='koseyazisi.html')
                    img.yazarresmi(src='img/y1.jpg')
                .yazarbilgiler
                    a(href='koseyazisi.html')
                        span.yazarismi Sena Kalemoğlu
                    a(href='haberdetay.html')
                        span.yazaryazisi Dünya Şefleri Londra'da Bir Araya Geldi
            .yazar
                a(href='koseyazisi.html')
                    img.yazarresmi(src='img/y2.jpg')
                .yazarbilgiler
                    a(href='koseyazisi.html')
                        span.yazarismi Merve Bulut
                    a(href='haberdetay.html')
                        span.yazaryazisi Dünya Şefleri Londra'da Bir Araya Geldi
            .yazar
                a(href='koseyazisi.html')
                    img.yazarresmi(src='img/y3.jpg')
                .yazarbilgiler
                    a(href='koseyazisi.html')
                        span.yazarismi Murat Yıldız
                    a(href='haberdetay.html')
                        span.yazaryazisi Dünya Şefleri Londra'da Bir Araya Geldi
            .yazar
                a(href='koseyazisi.html')
                    img.yazarresmi(src='img/y4.jpg')
                .yazarbilgiler
                    a(href='koseyazisi.html')
                        span.yazarismi Ersin Gök
                    a(href='haberdetay.html')
                        span.yazaryazisi Dünya Şefleri Londra'da Bir Araya Geldi
            .yazar
                a(href='koseyazisi.html')
                    img.yazarresmi(src='img/y1.jpg')
                .yazarbilgiler
                    a(href='koseyazisi.html')
                        span.yazarismi Sena Kalemoğlu
                    a(href='haberdetay.html')
                        span.yazaryazisi Dünya Şefleri Londra'da Bir Araya Geldi